.itemImg {
  animation-name: aging;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
  animation-direction: alternate;
  position: absolute;
}

.itemContainer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@keyframes aging {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.specItems {
  display: flex;
  flex-direction: column;
}
