.pageWrapper {
  position: relative;
  /* min-height: 100vh; */
  /* background-color: rgba(248, 247, 248, 0.308); */
}

.backgroundImg {
  background-image: url("../background/assets/priston.jpg");
  opacity: 0.2;
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
